
div {
  margin: 1rem;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-conten {
  padding: 16px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}

.center {
  margin: 10rem;
}

mat-grid-tile {
  background-color: lightblue;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card {
  max-width: 400px;
}
